.form-group{
    border-radius: 10px;
    margin: auto;
  width: 50%;
 
  padding: 10px;
}

.btn-xl {
   
  
    border-radius: 5px;
    margin: auto;
  width: 20%;

  padding: 10px;
}
.forgot-password{
    border-radius: 10px;
    margin: auto;
  width: 50%;
  padding: 10px;
}
h3{
  display: block;
  text-align: center;
  line-height: 150%;
 
}

